<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logbus" type="It.Unina.Dis.Logbus.Configuration.LogbusConfigSectionHandler, It.Unina.Dis.Logbus" />
  </configSections>

  <logbus xmlns="http://www.dis.unina.it/logbus/configuration" xmlns:config="http://www.dis.unina.it/logbus/configuration">
    <in-channels>
      <in-channel config:name="udp" config:type="It.Unina.Dis.Logbus.InChannels.SyslogUdpReceiver, It.Unina.Dis.Logbus">
        <param config:name="port" config:value="27888"/>
      </in-channel>
    </in-channels>
  </logbus>
</configuration>