<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logbus-server" type="It.Unina.Dis.Logbus.Configuration.LogbusConfigSectionHandler, It.Unina.Dis.Logbus" />
  </configSections>

  <logbus-server xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns:xsd="http://www.w3.org/2001/XMLSchema"
               xmlns="http://www.dis.unina.it/logbus-ng/configuration/3.0"
               xmlns:config="http://www.dis.unina.it/logbus-ng/configuration/3.0"
               xmlns:filter="http://www.dis.unina.it/logbus-ng/filters">
    <in-channels>
      <in-channel config:name="udp" config:type="It.Unina.Dis.Logbus.InChannels.SyslogUdpReceiver, It.Unina.Dis.Logbus">
        <param config:name="port" config:value="27888"/>
      </in-channel>
    </in-channels>
    <out-transports>
      <out-transport config:factory="Unit_Tests.TestClasses.TestTransportFactory, Unit_Tests" config:tag="test"/>
    </out-transports>
    <webserver active="true"/>
  </logbus-server>

  <!--
  <logbus-server xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.dis.unina.it/logbus-ng/configuration/2.0" xmlns:config="http://www.dis.unina.it/logbus-ng/configuration/3.0" xmlns:filter="http://www.dis.unina.it/logbus-ng/filters">
    <core-filter xmlns:filter="http://www.dis.unina.it/logbus-ng/filters" xsi:type="filter:FacilityEqualsFilter" filter:facility="Kernel" />
    <in-channels>
      <in-channel config:name="udp" config:type="It.Unina.Dis.Logbus.InChannels.SyslogUdpReceiver, It.Unina.Dis.Logbus">
        <param config:name="port" config:value="27888"/>
      </in-channel>
    </in-channels>
  </logbus-server>
  -->
</configuration>