<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="It.Unina.Dis.Logbus.Extensions.log4net.SyslogLayout, It.Unina.Dis.Logbus.Extensions">
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="It.Unina.Dis.Logbus.Extensions.log4net.SyslogLayout, It.Unina.Dis.Logbus.Extensions">
      </layout>
    </appender>
    <appender name="RemoteSyslogAppender" type="log4net.Appender.UdpAppender">
      <layout type="It.Unina.Dis.Logbus.Extensions.log4net.SyslogLayout, It.Unina.Dis.Logbus.Extensions">
      </layout>
      <remoteAddress value="127.0.0.1" />
      <remotePort value="3434" />
      <!--<localPort value="514" />-->
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="RemoteSyslogAppender" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>