<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="logbus-core" type="It.Unina.Dis.Logbus.Configuration.LogbusCoreConfigurationSectionHandler, It.Unina.Dis.Logbus" />
    <section name="logbus-client" type="It.Unina.Dis.Logbus.Configuration.LogbusClientConfigurationSectionHandler, It.Unina.Dis.Logbus" />
    <section name="logbus-source" type="It.Unina.Dis.Logbus.Configuration.LogbusSourceConfigurationSectionHandler, It.Unina.Dis.Logbus" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="It.Unina.Dis.Logbus.Extensions.log4net.SyslogLayout, It.Unina.Dis.Logbus.Extensions">
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="It.Unina.Dis.Logbus.Extensions.log4net.SyslogLayout, It.Unina.Dis.Logbus.Extensions">
      </layout>
    </appender>
    <appender name="RemoteSyslogAppender" type="log4net.Appender.UdpAppender">
      <layout type="It.Unina.Dis.Logbus.Extensions.log4net.SyslogLayout, It.Unina.Dis.Logbus.Extensions">
      </layout>
      <remoteAddress value="127.0.0.1" />
      <remotePort value="3434" />
      <!--<localPort value="514" />-->
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="/home/djechelon/srv/www/domains/www.spambusters.zighinetto.org/logs/SpamBusters-background.log"/>
      <param name="AppendToFile" value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - [%method] - %message%newline"/>
        <!--log4view "%date [%thread] %-5level %logger [%property{NDC}] - [%method] - %message%newline"-->
      </layout>
    </appender>
    
    <root>
      <level value="ALL" />
      <appender-ref ref="RemoteSyslogAppender" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    <logger name="file">
      <level value="ALL"/>
      <appender-ref ref="FileAppender"/>
    </logger>
  </log4net>

  <logbus-source xmlns="http://www.dis.unina.it/logbus-ng/configuration" xmlns:config="http://www.dis.unina.it/logbus-ng/configuration">
    <logger config:type="SyslogUdpLogger" config:name="udp" config:default="true">
      <param config:name="ip" config:value="127.0.0.1" />
      <param config:name="port" config:value="7514" />
    </logger>
    <logger config:type="ConsoleLogger" config:name="console" />
    <logger config:type="It.Unina.Dis.Logbus.log4net.Log4netLogger, It.Unina.Dis.Logbus.Extensions" config:name="log4net">
      <param config:name="logger" config:value="file"/>
    </logger>
  </logbus-source>
</configuration>